.cart-empty-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3rem;
}

.cart-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .cost-container {
    margin-bottom: 4rem;
  }

  h1 {
    width: 100%;
    text-align: center;
    margin: 0 0 2rem 0;
  }

  section {
    width: 100%;
    max-width: fit-content;
    margin-top: 3rem;
  }

  .payment-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .cart-items-container {
    min-width: 55rem;
    text-align: center;

    @media only screen and (max-width: map-get($media-widths, mobile)) {
      min-width: 100%;
    }

    .cart-item,
    .cart-item-input,
    .cart-item-product-info {
      display: flex;
      height: fit-content;
      align-items: center;
    }

    .cart-item {
      justify-content: space-between;
      margin-bottom: 3rem;

      @media only screen and (max-width: map-get($media-widths, mobile)) {
        display: flex;
        flex-direction: column;
      }

      .cart-item-product-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: $border;
        padding-bottom: 3rem;

        @media only screen and (max-width: map-get($media-widths, mobile)) {
          flex-wrap: wrap;
        }

        div {
          width: fit-content;
        }

        .cart-img {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;

          @media only screen and (max-width: map-get($media-widths, mobile)) {
            width: 5rem;
            height: 5rem;
          }
        }
      }

      .cart-item-input {
        display: flex;

        @media only screen and (max-width: map-get($media-widths, small-mobile)) {
          justify-content: flex-end;
          flex: 100%;
        }

        * {
          padding: 0 0.5rem;
        }

        .cart-item-price,
        .cross {
          margin: 0 0.5rem;
        }

        .cross {
          font-size: 2.3rem;
          cursor: pointer;
        }

        .quantity {
          width: 4rem;
          height: 4rem;
          padding-left: 0.5rem;
        }
      }
    }
  }
}
