.edit-product-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;

  .edit-product-top-btns-container {
    justify-content: left;
    max-width: 10rem;
    padding-left: 2rem;

    button {
      width: fit-content;
      margin-right: 2rem;
      margin-top: 2rem;
    }
  }

  section {
    display: flex;
    min-width: 100%;
    justify-content: space-between;

    @media only screen and (max-width: map-get($media-widths, tablet)) {
      flex-flow: row wrap;
    }

    #img {
      max-width: 70rem;
      min-height: 70rem;
      margin-top: 2rem;

      @media only screen and (max-width: map-get($media-widths, tablet)) {
        min-width: 100%;
        min-height: 30rem;
      }
    }

    form {
      width: 100%;
      max-width: 60rem;
      padding: 2rem;

      h1 {
        margin: 0 0 2rem 0;
      }
    }
  }
}
