.card-product-create-img {
  background: url("/img/menu/createyourown.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 36.5rem;
}

.card-product-img {
  width: 100%;
  height: 30rem;
}
